doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Laboratorio G3
    link(rel='stylesheet', href='styles.css')
  body
    nav.navbar.navbar-expand-lg
      a.navbar-brand(href='#') API WEB LABORATORIO G3
      .navbar-right
        span
          b Empleado:
          span#usuario-activo Nombre de Usuario
          button#cerrar-sesion.btn.btn-link Cerrar Sesión
    .container
      .row
        aside.sidebar
          ul.nav.flex-column
            li.nav-item
              a.nav-link.active(href='#') Inicio
            li.nav-item
              a.nav-link(href='#') Gestión de Usuarios
            li.nav-item
              a.nav-link(href='#') Gestión de Órdenes
            li.nav-item
              a.nav-link(href='#') Gestión de Datos
        .main-content
          h1 Laboratorio G3:
          #contenido
            //- Contenido dinámico se cargará aquí
    footer.footer
      | &copy; 2023 Laboratorio G3
  script(src='script.js')
