doctype html
html
  head
    title Formulario de Inicio de Sesión
  body
    h1 Inicio de Sesión
    script(src="script.js") // Script correctamente indentado
    form(action="/login", method="POST")
      label(for="usuario") Usuario
      input(type="text", id="usuario", name="email", placeholder="Ingresa tu usuario o correo electrónico", required)
      br
      label(for="contrasena") Contraseña:
      input(type="password", id="contrasena", name="contrasena", placeholder="Ingresa tu contraseña", required)
      br
      br
      select(id="opciones" name="nombreRol")
        option(value="paciente") paciente
        option(value="tecnico") tecnico
        option(value="Bioquimico") bioquimico
      input(type="submit", id="ini")
      br