doctype html
html
  head
    title Formulario de Inicio de Sesión
  body
    h1 Inicio de Sesión
    form(action="/", method="post" name="formu")
      label(for="usuario") Usuario
      input(type="text", id="usuario", name="email", placeholder="Ingresa tu usuario o correo electrónico", required,value=(typeof emailValue !== 'undefined') ? emailValue : '')
      if(email)
        br
        p(id="errorEmail") #{email}
      br
      label(for="contrasena") Contraseña:
      input(type="password", id="contrasena", name="contrasena", placeholder="Ingresa tu contraseña", required, value=value=(typeof passValue !== 'undefined') ? passValue : '')
      if(pass)
        br
        p(id="errorPass") #{pass}
      br
      br
      select(id="opciones" name="nombreRol")
        option(value="paciente") paciente
        option(value="tecnico") tecnico
        option(value="Bioquimico") bioquimico
      input(type="submit")
      br
    script.
      var token = "#{token}";
    script(src="./javascripts/index.js")  