include navBar.pug
.container 
  table#example.display(style="width:100%")
    thead
      tr
        th Orden
        th Tipo de muestra
        th Entregada
        th    
    if muestras
      tbody
        each muestra in muestras
          tr
            td orden
            td= muestra.TipoMuestra.nombre 
            td= muestra.entregada
            td 
              if muestra.deletedAt
                form(action=`/vistaTecBioq/activarMuestra` method="post")
                      input(type="hidden" name="id" value=muestra.id)
                      input(type="submit" value="Activar" class="btn btn-primary")
              else 
                form(action=`/vistaTecBioq/desactivarMuestra` method="post")
                      input(type="hidden" name="id" value=muestra.id)
                      input(type="submit" value="Desactivar" class="btn btn-primary")
    tfoot
      tr
        th Orden
        th Tipo de muestra
        th Entregada
        th 

script(src="https://code.jquery.com/jquery-3.7.0.js") 
script(src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js")         
script. 
  new DataTable('#example'); 