nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container
    a.navbar-brand(href="#") Mi Sitio

    button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon

    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link(href="/vistaTecBioq/inicio") Inicio
        li.nav-item
          a.nav-link(href="#") Acerca de
        li.nav-item
          a.nav-link(href="/vistaTecBioq/actualizar") Actualizar examen
        li.nav-item
          a.nav-link(href="/vistaTecBioq/formExamen") Add examen
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href="/vistaTecBioq/formdeterminacion") Add Determinación
        li.nav-item
          a.nav-link(href="#") Add Valores de Referencia