table.table.table-bordered.ocultos.d-none
  thead
    tr
      th Hombre
      th Mujer
      th Embarazada
  tbody
    tr
      td
        label(for="edad_minima") Edad Mínima:
        input#hombre_edad_minima.form-control(type="number", name="hombre_edad_minima", required)
      td
        label(for="edad_minima") Edad Mínima:
        input#mujer_edad_minima.form-control(type="number", name="mujer_edad_minima", required)
      td
        label(for="edad_minima") Edad Mínima:
        input#embarazada_edad_minima.form-control(type="number", name="embarazada_edad_minima", required)
    tr
      td
        label(for="edad_maxima") Edad Máxima:
        input#hombre_edad_maxima.form-control(type="number", name="hombre_edad_maxima", required)
      td
        label(for="edad_maxima") Edad Máxima:
        input#mujer_edad_maxima.form-control(type="number", name="mujer_edad_maxima", required)
      td
        label(for="edad_maxima") Edad Máxima:
        input#embarazada_edad_maxima.form-control(type="number", name="embarazada_edad_maxima", required)
    tr
      td
        label(for="valor_minimo") Valor Mínimo:
        input#hombre_valor_minimo.form-control(type="number", name="hombre_valor_minimo", required)
      td
        label(for="valor_minimo") Valor Mínimo:
        input#mujer_valor_minimo.form-control(type="number", name="mujer_valor_minimo", required)
      td
        label(for="valor_minimo") Valor Mínimo:
        input#embarazada_valor_minimo.form-control(type="number", name="embarazada_valor_minimo", required)
    tr
      td
        label(for="valor_maximo") Valor Máximo:
        input#hombre_valor_maximo.form-control(type="number", name="hombre_valor_maximo", required)
      td
        label(for="valor_maximo") Valor Máximo:
        input#mujer_valor_maximo.form-control(type="number", name="mujer_valor_maximo", required)
      td
        label(for="valor_maximo") Valor Máximo:
        input#embarazada_valor_maximo.form-control(type="number", name="embarazada_valor_maximo", required)